# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("output_data/cities.csv", encoding="utf-8")
cities.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,0,bria,95,CF,1579757173,21,63.88,6.54,21.99,9.19
1,1,raudeberg,75,NO,1579757173,100,46.40,61.99,5.14,19.46
2,2,san jeronimo,100,PE,1579757173,91,42.64,-11.95,-75.28,0.56
3,3,aleksandrovsk-sakhalinskiy,23,RU,1579757173,92,-0.72,50.90,142.16,1.79
4,4,port alfred,91,ZA,1579757173,95,64.99,-33.59,26.89,12.15

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
Humidity = cities["Humidity"].astype(float)
Max_Humidity = Humidity.max()
Locations_Cities = cities[["Lat", "Lng"]]

In [6]:
Fig = gmaps.figure()
HeatMap_Layer = gmaps.heatmap_layer(Locations_Cities, weights=Humidity,dissipating=False, max_intensity=Max_Humidity,point_radius=3)
Fig.add_layer(HeatMap_Layer)
Fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
narrowed_city_df = cities.loc[(cities["Temp"] > 70) & (cities["Temp"] < 80) & (cities["Wind Speed"] < 10) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['Unnamed: 0']
del narrowed_city_df['index']
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,cape town,0,ZA,1579757043,60,71.01,-33.93,18.42,1.12
1,tura,0,IN,1579757198,34,72.72,25.52,90.22,4.43
2,moron,0,AR,1579756996,88,78.01,-34.65,-58.62,2.24
3,mendoza,0,AR,1579757051,50,78.80,-32.89,-68.83,5.82
4,rivadavia,0,AR,1579757267,50,78.80,-33.19,-68.46,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df = []

for x in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[x]['Lat']
    lng = narrowed_city_df.loc[x]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsnrqs = requested.json()
    try:
        hotel_df.append(jsnrqs['results'][0]['name'])
    except:
        hotel_df.append("")
narrowed_city_df["Hotel Name"] = hotel_df
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel Name
0,cape town,0,ZA,1579757043,60,71.01,-33.93,18.42,1.12,Cape Town
1,tura,0,IN,1579757198,34,72.72,25.52,90.22,4.43,Tura
2,moron,0,AR,1579756996,88,78.01,-34.65,-58.62,2.24,Morón
3,mendoza,0,AR,1579757051,50,78.80,-32.89,-68.83,5.82,Mendoza
4,rivadavia,0,AR,1579757267,50,78.80,-33.19,-68.46,5.82,Rivadavia

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations)
Fig.add_layer(marker_layer)

# Display Map
Fig

Figure(layout=FigureLayout(height='420px'))